accelerate
basicsr
diffusers
facexlib
fairscale
fastapi
gfpgan
huggingface_hub
loguru
opencv-python
protobuf
pyngrok
python-multipart
realesrgan
streamlit
streamlit-drawable-canvas
st-clickable-images
timm
transformers
uvicorn
loguru
starlette
diffuzers
Pillow